/**   rgb(8, 82, 109)   #08526D  ,  #EC1D24 , #FFE484  */

 body{color: #777777;height: 100%;width: 100%;font-size: 18px;overflow: hidden; font-weight: 400 }
/*start upper bar*/

.upper-bar{
	background-color: #08526D;
	color: #fff;
	padding: 10px;
	 
	font-weight: bold
	
}

.btn-bd-download {
    font-weight: 700;
    color: #ffe484;
    border-color: #ffe484;
    border-radius: 0; 	background-color: #08526D;
}
.btn-bd-download:hover{ color: #2A2754;background-color:#ffe484}
.upper-bar span{color:#fff  }
.upper-bar .aa{display: inline-block;   color: #fff;  padding: 2px 10px;margin-left: 70% ;  }
  

/*end upper bar*/


/*start our navbar*/
.navbar{padding: 10px; }
.navbar-brand span:first-child{color:#08526D   ; font-weight:  bold ; font-size: 40px;    margin-left: 10px;}

.navbar-brand span:last-child {color:  #FFE484 ; font-size: 40px; margin-left: 5px; }
.navbar-nav .nav-link{font-size: 15px; text-transform: uppercase;margin-left: 20px;     white-space:nowrap;}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {color:#FFE484 ;font-weight:700;}
.dropdown-toggle::after
{     border-right:0;  
    border-bottom: 0;  
      border-left: 0}
      
      
      
      #logo
{    
    height: 61px;
    margin-top: -7px;
    width: 60px;
	display: inline-block;
	border-radius: 33px
	
}

nav.black ul{background: #000;}
 /***/
 
 
 
 
 
 
    
 
/*end our navbar*/



 


 

/**slider*/

 
.ab{color:#08526D  ; font-weight: 400}
 

.carousel-caption {
    
    
    bottom: 80px;
    
    background: rgba(3,3,3,.2);
   

}
 
  
 .carousel-inner img{width: 100%;height: 100%}
 .carousel-indicators li{
	margin-bottom: 10px
}
 .carousel-caption {text-transform: uppercase;text-shadow: 1px 1px 10px #000}

 
 .bbc{color: #FFE484 ; font-weight: 400}
.btn-outline-warning{border-radius:0;border-color: #fff}
.btn-info{border-radius: 0; }

.carousel-indicators li{height: 7px;width: 26px}
/**jumbo*/

	
	 .btn-group-lg>.btn, .btn-lg{border-radius: 0;    border: 1px solid #fff}
 

 




/* welcome section*/
#read{color: #08526D}
#read:before{font-family: 'FontAwesome';
    content: "\f138";
    display: inline-block;
    margin-right: 5px}
.fa-question-circle-o:before{color: #08526D}
.fa-gears:before {color: #08526D}
.fa-cogs:before{color: #08526D}
.container-fluid{margin-top: 85px; margin-bottom: 85px}
.img-fluid{border-style: outset; border-radius: 20px}
/* end welcome section*/


/* services*/
.fa-building{color:#08526D}




.fa-user-circle{color:#08526D}

.serv{margin-bottom: 70px}


.list-group-item{padding: .6rem}
/*end services*/
/*start location*/
#lolo{
	background: url("../img/cover222.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
min-height: 300px;
width: 
}
#cover{background: rgba(9,9,9,.6);min-height: 300px;color: #ddd;padding-top: 40px;padding-bottom: 40px; }
/*end location*/
/***/
.form-control{padding:.9rem}
/*end location*/



/*start contact us ****************************************************************/
 


 .contact-us{padding: 80px 0; background-color: #FFE484  ;color:#08526D ; font-size: 22px}
 .contact-us p{margin: 0 ; text-transform: capitalize}
 .contact-us a{color:#fff; border: 2px solid #fff;padding: 6px 15px 8px ;text-transform: uppercase;font-weight: bold ;text-decoration: none}
 .contact-us a:hover{color: #08526D}


/*end contact us ******************************************************/

 /*startfooter*/
	
	
 
 
.pt-4{
	background-color: #fff;
	
    color: #08526D ;
				}
				
				.btn-danger {
					border-radius: 100px;
					}
					
		 .fa-facebook-official:before{color: #3b5998;    color: #fff!important}
			
			
			.list-unstyled a{color:  #feb236;}
			
		.list-unstyled	{	 margin-bottom: 0}
			footer a{text-decoration: none}
			footer{background-color: #333;color: #feb236; padding-top: 20px;padding-bottom: 20px}
footer a:hover{color:  #2A2754  ; text-decoration: none;  }
footer  .social-list {overflow: hidden}
footer  img {;float:left;padding: 5px 0 }
footer .social-list li{overflow: hidden;margin: 0 0 0 0 ; padding: 3px}
footer  .social-list li{float: left;opacity: .7}
footer  .social-list li:hover{opacity: 1;transition: all 0.7s ease-in-out}
footer .mt-3 .mb-4 .foot{margin-left: 30px}
 #h-foott{color:#FFE484  }

 /*end footer*/






/*start scroll*/
#scroll-top{width: 50px;
height: 40px;
padding:5px 8px;
color:#ddd;
background: #272727;
text-align: center;
position: fixed;
right: 15px;
bottom: 10px;
z-index: 9999!important;
display: none}
#scroll-top:hover{background-color: #444}
 #app:hover{opacity: .8}

/*end scroll*/


h1{font: 900!important}


/*2c3e50*/



/*****************start loading section**************************/

.loading
{
 background:#2c3e50;
 color: #fff;
 position: fixed ;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 z-index: 99999
 
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin: 100px auto;
  margin-top: 250px;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/*************************end loading section**********************/

#ascrail2000{overflow: hidden!important}



/*media*/
@media(max-width: 768px)
{
	 .upper-bar{display: none!important}
 .carousel{display: none!important}
 .list-group {margin: 20px}
 div{overflow: hidden!important}
 #logo {
    height: 53px!important;
    margin-top: 6px!important;
    width: 53px!important}
    .navbar-brand span:first-child{font-size: 28px!important;
    margin-left: -119px!important;}
    .location{width: 100%!important;height: 300px}
    
}