/*start our navbar*/
.navbar{padding: 10px;color: #fff}
.navbar-brand span:first-child{color:#08526D   ; font-weight:  bold ; font-size: 40px;    margin-left: 10px;}

.navbar-brand span:last-child {color:  #FFE484 ; font-size: 40px; margin-left: 5px; }
.navbar-nav .nav-link{font-size: 15px; text-transform: uppercase;margin-left: 20px;     white-space:nowrap;}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {color:#FFE484 ;font-weight:700;}
.dropdown-toggle::after
{     border-right:0;  
    border-bottom: 0;  
      border-left: 0}
      
      
      
      #logo
{    
    height: 61px;
    margin-top: -7px;
    width: 60px;
	display: inline-block;
	border-radius: 33px
	
}



 #test{height: 2000px;line-height: 300px!important}