<!DOCTYPE html>
	<html>
		
		
		
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<title>Safty Lab</title>

			<link rel="stylesheet" href="css/bootstrap.min.css">
					

			<link rel="icon" href="img/logo2.jpeg">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<!--<link rel="stylesheet" href="css/fontawesome1.min.css"> -->
			<!--<link rel="stylesheet" href="css/style.css">-->
		
            <link rel="stylesheet" href="css/bootstrap3.min.css">
               <link rel="stylesheet" href="css/Contact us.css">
		</head>
		
		
		
		
		
		
		
		
		<body style="overflow:hidden;">
		<div class="overlay">
			
                <div class="container text-center " style="margin-right:  20%">
                     <h1 style="color: #feb236;"><span class="highlight" > </span>contact us  </h1>
					    <ul style="list-style-type:none">
                                    
                                    <li style="font-size: 1.4em; color: #feb236;"><span class="highlight"><i class="fa fa-envelope fa-1g" aria-hidden="true"></i></span> &nbsp; <span class="ab">Safty </span> <span class="bbc">lab</span>@saftylab.com</li>
                                </ul>
                    <div class="row contact-row">
                    <div class="text-center header-text" style="margin: 0 0 20px 0">
                <!-- /.contact title -->
                        
			             <div class="title-line wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
		              </div>
                        <!-- /.address and contact -->
                        <div class="col-sm-5 contact-center wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                           
                             
                        </div>

                        <!-- /.contact form -->
                        <div class="col-sm-7 contact-center">
                            <form id="contact-form" class="form-horizontal ng-pristine ng-valid">
                                <div class="form-group">
                                <input type="text" name="Name" id="Name" class="form-control wow fadeInUp ng-pristine ng-untouched ng-valid ng-empty animated" placeholder="الاسم" ng-model="feedname" style="visibility: visible; animation-name: fadeInUp;">
                                </div>
                                <div class="form-group">
                                <input type="text" name="Email" id="Email" class="form-control wow fadeInUp ng-pristine ng-untouched ng-valid ng-empty animated" placeholder="البريد الإلكتروني" ng-model="feedemail" style="visibility: visible; animation-name: fadeInUp;">
                                </div>
                                <div class="form-group">
                                <input type="text" name="Name" id="mobile" class="form-control wow fadeInUp ng-pristine ng-untouched ng-valid ng-empty animated" placeholder="رقم الهاتف" ng-model="feedno" style="visibility: visible; animation-name: fadeInUp;">
                                </div>	
                                <div class="form-group">
                                <textarea  rows="20" cols="20" id="Message" class="form-control input-message wow fadeInUp ng-pristine ng-untouched ng-valid ng-empty animated" placeholder="رسالتك" ng-model="feedmsg" style="visibility: visible; animation-name: fadeInUp; height: 200px"   ></textarea>
                                </div>
                                <div class="form-group">
                
									<button type="button" class="btn btn-warning btn-lg btn-block" onclick=" alert('شكرا على ابداء رايكم!')" >إرسال </button>
                                </div>
                            </form>		
                        </div>
                    </div>
                </div>
            </div>
	 
                
                <div id="footer" class="text-center " >© Copyright Saftylab 2019</div>
                <a href="#" style="display: inline;"> </a> 
            </div>
			<script src="js/jquery-3.2.1.min.js"></script>
			<script src="js/poper.min.js"></script>
			<script src="js/bootstrap.min.js"></script>			
			<script src="js/bootstrap3.3.7.min.js"> </script>
			<script src="js/fontawesome1.min.js"></script>
			 
			
			         

		</body>
	</html>